*{
    margin: 0;
    padding: 0;
}

/* start navbar here */
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
nav ul li a:hover{
    color: #ff5ea2;
}
/* end navbar here */

/* start main area here */
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.row .col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.row .col-1 h2{
    font-size: 54px;
    font-family: 'Train One', cursive;
    font-weight: normal;
}
.row .col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.row .col-1 p{
    font-size: 18px;
    color: #b7b7b7;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.row .col-1 h4{
    margin: 30px 0;
    font-size: 20px;
    font-family: 'New Tegomin', serif;
    letter-spacing: 2px;
}
.row .col-1 button{
    width: 145px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(115deg, #000000, #525252);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: width .5s;
}
.row .col-1 img{
    width: 30px;
    display: none;
}
.row .col-1 button:hover img{
    display: block;
}
.row .col-1 button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(115deg, #000000, #525252);
    position: absolute;
    left: -40px;
    top: 8px;
}
.row .col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.row .col-2 .controller{
    width: 45%;
    transform: rotate(28deg);
    margin-left: 90px;
    margin-top: -13px;
}
.row .col-2 .color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(115deg, #000000, #525252);
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}
.row .col-2 .add-btn{
    margin-left: 60px;
}
.row .col-2 .add-btn img{
    width: 35px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.row .col-2 .add-btn p small{
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/* end main area here */

/* start social here */
.social-links{
    text-align: center;
}
.social-links i{
    font-size: 18px;
    margin: 13px 10px;
    cursor: pointer;
    color: black;
}
/* end social here */

/* start features section here */
#features{
    padding: 3.5rem 0;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#features h1{
    font-size: 54px;
    padding: 20px
}
#features .f-img2{
    display: none;
}
#features .f-para{
    color: white !important;
    font-size: 20px;
    width: 50%;
    margin: 20px auto;
    line-height: 2rem;
}
#features .f-list{
    padding: 20px 0;
    font-size: 20px;
}
#features span{
    vertical-align: top !important;
    font-weight: bold;
    text-align: left;
}
#features .f-list img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
#features .f-touch{
    margin-right: 0;
    margin-left: -43px;
}
#features .f-display{
    margin-right: 0;
    margin-left:-23px;
}
#features .f-list li{
    padding: 15px 0;
}
#features .row .col-1::after{
    display: none;
}
#features .row .col-1 img{
    display: block;
    width: 50%;
    margin-left: 85px;
}
#features .row .col-2 ul li{
    list-style: none;
}
/* end features section here */

/* start heart rate section here */
#heart img{
    display: block;
}
#heart .row{
    margin: 50px 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
 
#heart .row .col-1::after{
    display: none;
}
#heart .row .col-2 img{
    display: block;
    width: 50%;
    margin-left: 50px;
}
#heart .heart-heading{
    font-size: 34px;
}
#heart .heart-text{
    padding: 30px 0;
    font-size: 20px;
    line-height: 2rem;
}
#heart .heart-heading i{
    color: red;
    padding: 0 5px;
}
#heart .heart-feature{
    font-size: 22px;
    font-weight: bold;
    word-spacing: .3rem;
}
#heart .heart-feature i{
    font-size: 24px;
}
#heart .heart-img2{
    display: none;
}
/* end heart rate section here */

/* start sport section here */
#sport .sport-box{
    width: 50%;
}
#sport .row{
    font-family: 'Roboto', sans-serif;
}
#sport .col-1{
    flex-basis: 60%;
}
#sport .col-2{
    flex-basis: 40%;
    display: block;
}
#sport .col-1 img{
    width: 60%;
    display: block;
    border-radius: 20px;
    margin-left: 85px;
}
#sport .col-1::after{
    display: none;
}
#sport .sport-heading{
    font-size: 34px;
}
#sport .sport-text{
    padding: 30px 10px;
    font-size: 20px;
    line-height: 2rem;
}
#sport .sport-feature{
    font-size: 22px;
    font-weight: bold;
    word-spacing: .3rem;
}
#sport .sport-feature img{
    width: 35px;
    height: 35px;
    margin-top: 10px !important;
    margin-left: 10px;
}
/* end sport section here */

/* start notification area here */
#notification{
    padding: 3.5rem 0;
    text-align: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#notification .col-1{
    flex-basis: 30%;
}
#notification .col-1::after{
    display: none;
}
#notification .col-2{
    flex-basis: 20%;
}
#notification .col-3{
    flex-basis: 30%;
}
#notification .col-4{
    flex-basis: 20%;
}
#notification .col-4 img{
    width: 85%;
}
#notification .col-2 img{
    width: 100%;
    margin-left: 15px;
    margin-right: 35px;
}
#notification .noti-heading{
    font-size: 34px;
    letter-spacing: 1px;
}
#notification .noti-img2{
    display: none;
}
#notification .chat-img2{
    display: none;
}
/* end notification area here */

/* start call area here */
#call{
    padding: 3rem 0 0 0;
    font-family: 'Roboto', sans-serif;
}
#call .col-1 img{
    display: block;
    width: 50%;
    margin-left: 85px;
}
#call .col-1::after{
    display: none;
}
#call .col-2{
    display: block;
}
#call .call-heading{
    font-size: 34px;
    letter-spacing: 1px;
}
#call .call-heading b{
    color: rgb(3, 250, 98);
}
#call .call-siri{
    font-size: 30px;
    padding: 20px 0;
    letter-spacing: 1px;
}
#call .call-siri b{
    color: rgb(3, 250, 98);
}
/* end call area here */

/* emergency */
#emergency{
    padding: 1rem 0;
    font-family: 'Roboto', sans-serif;
}
#emergency .col-1::after{
    display: none;
}
#emergency .col-1{
    flex-basis: 60%;
}
#emergency .col-2{
    flex-basis: 40%;
}
#emergency .emergency-heading{
    font-size: 34px;
    letter-spacing: 1px;
    margin-left: 85px;
}
#emergency .emergency-heading b{
    color: rgb(250, 62, 28);
}
/* end emergency */

/* specification */
#specs{
    padding: 3rem 0;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
#specs .accordian{
    width: 90%;
    margin: 50px;
}
#specs .specs-heading{
    font-size: 34px;
    font-weight: bold;
    padding:10px 10px 0 10px;
}
#specs .accordian .accordian-tab > label{
    color: white;
    font-size: 22px;
    position: relative;
    display: block;
    padding:25px 20px;
    cursor: pointer;
    border-top: 1px solid #fff;
    text-transform: uppercase;
}
#specs .accordian .accordian-tab > .accordian-content{
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}
#specs .accordian .accordian-tab > .accordian-toggle:checked ~ .accordian-content{
    padding: 10px 30px 50px 30px;
    max-height: 220vh;
}
#specs .accordian .accordian-tab > .accordian-toggle{
    display: none;
}
#specs .accordian .accordian-tab > label:after{
    content: "\f067";
    font-family: 'fontawesome';
    position: absolute;
    top: 22px;
    right: 25px;
    color: white;
    transform: rotate(90deg);
    transition: transform .5s;
}
.accordian-tab > .accordian-toggle:checked ~ label:after{
    content: "\f068" !important;
    font-family: 'fontawesome';
    transform: rotate(0deg) !important;
}
#specs .accordian-content > span{
    font-weight: bold;
    font-size: 18px;
}
#specs .accordian-content > p{
    margin-top: 20px;
    margin-left: 8px;
    font-size: 18px;
}
#specs .display > p{
    margin-bottom: 25px;
}
#specs .sensor > p{
    margin-bottom: 25px;
}
#specs .battery > p{
    margin-bottom: 25px;
}
#specs .physicalSspecification > p{
    margin-bottom: 25px;
}
#specs .healthFeature > p{
    margin-bottom: 25px;
}
#specs .smartFeature > p{
    margin-bottom: 25px;
}
/* end specification */

/* start media query here */
@media only screen and (max-width:768px){
  /* media query 768px */
.row .col-1 h2{
    font-size: 34px;
}
.row .col-1 h3{
    font-size: 24px;
}
.row .col-2 .color-box{
    transform: translateX(75px);
}
.row .col-2 .add-btn{
    width: 100%;
    text-align: center;
    line-height: 22px;
}
nav ul li{
    margin-right: 25px;
}
#heart .row .col-1{
    margin-left: 85px;
    flex-basis: 50%;
}
#heart .row .col-2{
    flex-basis: 50%;
}
#heart .row .col-2 img{
    width: 70%;
    margin-left: 20px;
}
#heart .heart-heading{
    font-size: 32px;
}
#sport .col-1{
    flex-basis: 50%;
}
#sport .col-2{
    flex-basis: 50%;
}
#sport .col-1 img{
    width: 80%;
    margin-left:15px;
}
#notification .col-1{
    flex-basis: 20%;
}
#notification .col-1::after{
    display: none;
}
#notification .col-2{
    flex-basis: 30%;
}
#notification .col-3{
    flex-basis: 20%;
}
#notification .col-4{
    flex-basis: 30%;
}
#notification .col-4 img{
    width: 75%;
}
#notification .col-2 img{
    width: 90%;
    margin-left: 15px;
    margin-right: 35px;
}
#notification .noti-heading{
    font-size: 30px;
    letter-spacing: 1px;
}
#call{
    padding: 2rem 0 0 0;
}
#call .col-1{
    flex-basis: 40%;
}
#call .col-2{
    flex-basis: 60%;
    margin-left: 20px;
}
#call .col-1 img{
    width: 80%;
    margin-left: 45px;
}
#emergency{
    padding: .8rem 0;
}
#emergency .col-2 img{
    width: 80%;
}
#emergency .emergency-heading{
    margin-left: 25px;
    margin-right: 15px;
}
/* end media query 768px */
}

@media only screen and (max-width:425px){
   /* media query 425px */
nav ul{
    width: 100%;
    background: linear-gradient(#ff54a2,#ff575a);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
}
.container{
    padding-left: 3%;
    padding-right: 3%;
}
nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
nav ul li a{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}
.menu-icon{
    display: block;
}
#menulist{
    overflow: hidden;
    transition: .5s;
}
.row{
    flex-direction: column-reverse;
    margin:50px 0;
}
.row .col-2{
    flex-basis: 100%;
}
.row .col-2 .controller{
    width: 77%;
    padding-bottom: 40px;
}
.row .col-2 .color-box{
    display: none;
}
.row .col-1{
    width: 90%;
}
.row .col-1::after{
    display: none;
}
.row .col-1 h2{
    font-size: 36px;
    padding: 0;
}
.row .col-1 h3{
    font-size: 20px;
}
.row .col-1 p{
    font-size: 16px;
}
.social-links{
    display: none;
}
#features {
    padding: 3.5rem 0 1rem 0;
}
#features h1 {
    font-size: 40px;
    padding: 22px 10px;
}
#features .f-para {
    width: 80%;
}
#features .f-img{
    display: none;
}
#features .f-img2{
    display: block;
    padding: 20px 0;
}
#heart .heart-img{
    display: none;
}
#heart .heart-img2{
    display: block;
    width: 70%;
}
#heart .row .col-1 {
    margin-left: 0;
}
#heart .heart-heading {
    font-size: 30px;
    text-align: center;
}
#heart .heart-text {
    padding: 30px 25px 40px 25px;
    font-size: 19px;
}
.row .col-2 .controller{
    transform: rotate(0deg);
    margin-left: 30px;
    margin-top: 0px;
}
#heart .heart-feature {
    font-size: 20px;
    margin-bottom: 50px;
}
#heart .row .heart-img2 img{
    width: 70%;
    margin: 10px auto;
}
#sport .sport-heading {
    font-size: 30px;
    text-align: center;
}
#sport .sport-text {
    padding: 30px 25px 40px 25px;
    font-size: 19px;
}
#sport .sport-feature {
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
}
#notification .noti-img{
    display: none;
}
#notification .noti-img2{
    display: block;
}
#notification .chat-img{
    display: none;
}
#notification .chat-img2{
    display: block;
}
#notification .noti-heading {
    padding: 0 20px 20px;
}
#notification .col-1{
    margin: 0 !important;
}
#notification .col-1 .noti-heading{
    padding: 40px 20px;
}
#call .col-1 img {
    width: 70%;
    padding: 20px 0;
}
#emergency .col-2 img {
    width: 90%;
    padding: 0 0 45px 0;
}
#call .call-heading {
    font-size: 32px;
}
#emergency .emergency-heading {
    margin-left: 8px;
    margin-right: 12px;
    font-size: 31px;
}
#specs .accordian {
    width: 100%;
    margin: 50px 0;
}
/* end media query 425px */
}
